<div class="productManagerApplication">
	<div class="middleContainer">
		<div class="sidebar">
			<ul class="pnavigation">
				<li class="navitem filter all selected" data-filter="all" data-literal="{&quot;scope&quot;:&quot;main.products&quot;,&quot;name&quot;:&quot;hd_all&quot;}">
					<div class="ico"></div>
				</li>
			</ul>
			<ul class="pnavigation">
				<li class="navitem settings" data-literal="{&quot;scope&quot;:&quot;main.products&quot;,&quot;name&quot;:&quot;hd_settings&quot;}">
					<div class="ico"></div>
				</li>
			</ul>
			<ul class="pnavigation">
				<li class="navitem create" data-literal="{&quot;scope&quot;:&quot;main.products&quot;,&quot;name&quot;:&quot;hd_create&quot;}">
					<div class="ico"></div>
				</li>
			</ul>
		</div>
		<div id="sectionContainer" class="sectionbody" />
	</div>
</div>